.planet {
    margin: 1rem;
    padding: 1rem;
    background-color: #434273;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: white;
  }
  
  .planet h2 {
    font-size: 2rem;
    color: #fff;
  }
  
  .planet h3 {
    color: #eccf77;
    margin: 0;
    font-size: 1rem;
  }
  

  .modal {
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    border: '2px solid #000';

  }